/***************************************************
*
*
*
*
****************************************************/
*,html{
margin: 0 auto;
}

body {
font: 80.5% "Trebuchet MS", sans-serif;
margin: 0px;
padding: 0px;
left: 0px;
top: 0px;
margin-top: 0px;
margin-left: 0px;
margin-right: 0px;
margin-bottom: 0px;
float: left;
font-family: Lucida Grande, Arial, sans-serif;
background: #066dab; /* Old browsers */
overflow: auto;
}

header{
background: rgb(0,112,173); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(0,112,173,1) 0%, rgba(7,152,227,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,112,173,1)), color-stop(100%,rgba(7,152,227,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,112,173,1) 0%,rgba(7,152,227,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,112,173,1) 0%,rgba(7,152,227,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,112,173,1) 0%,rgba(7,152,227,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,112,173,1) 0%,rgba(7,152,227,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0070ad', endColorstr='#0798e3',GradientType=0 ); /* IE6-9 */
    font: 130.5%em !important;
    font-weight: bolder !important;
    height: 22px;
    color: #ffffff;
}
footer{
    font: 100.5%em !important;
    font-weight: bolder !important;
    color: #ffffff;
}
.about{
    position: relative;
    height: 270px;
    overflow:scroll;
    
}

.lister_tab_content{
    height: 270px;
    position: relative;
}
.bw_needs_tab_content{
    height: 270px;
    position: relative;
}
.bwusage_tab_content{
    height: 270px;
    position: relative;
}
.social_tab_content{
    height: 270px;
    position: relative;
}
h3{
    font: 91.5% "Verdana", sans-serif;
    font-weight: bolder;
}
p{
    font: 76.5% "Trebuchet MS,Verdana", sans-serif;
    font-weight: 100;
}

font{
    font: 82.5% "Trebuchet MS", sans-serif;
}
input[type=reset] {
    margin: 0 auto auto;
    float: right;
}
input[type=text]{
    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #f0f0f0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f0f0f0));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#f0f0f0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 );
    border: 2px solid #ECECEC;
    padding: 5px;
    -webkit-border-radius:  4px;
    -moz-border-radius:     4px;
    border-radius:          4px;
}

html:not(.browser-android) input[type=text], html:not(.browser-android)  select {
    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #f0f0f0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f0f0f0));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#f0f0f0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 );
    border: 2px solid #ECECEC;
    padding: 5px;
    -webkit-border-radius:    4px;
    -moz-border-radius:       4px;
    border-radius:            4px;
    font: 76.5% "Verdana", sans-serif;
    font-weight: bolder;
    color: #3d72b3;
    line-height: 1em;
    
}

 
.threedee{
font-family: Verdana, sans-serif;
line-height: 1em;
color: #3d72b3;
font-weight:bold;
font-size: 17px;
text-shadow:0px 0px 0 rgb(-187,-134,-69), 1px 1px 0 rgb(-325,-272,-207),2px 2px 1px rgba(0,0,0,0.45),2px 2px 1px rgba(0,0,0,0.5),0px 0px 1px rgba(0,0,0,.2);
}

/*speed test dialogue css*/
    #dialog-link_st {
        padding: 0px;
        border: 1px;
        text-decoration: none;
        position: auto;
    }
    #dialog_st} {
        position: relative;
        float: left;
        
    }
    #dialog-link_st span.ui-icon {
        margin: 0 2px 0 0;
        position: auto;
        left: .2em;
        top: 50%;
        margin-top: -8px;
    }
    #icons {
        margin: 0;
        padding: 0;
    }
    #icons li {
        margin: 2px;
        position: relative;
        padding: 4px 0;
        cursor: pointer;
        float: left;
        list-style: none;
    }
    #icons span.ui-icon {
        float: left;
        margin: 0 4px;
    }
    
#toppathwrap { 
    position:fixed; 
    top:0px; 
    right:0px; 
    background-color:#F2F1E8; 
    padding:5px; 
    display:none; 
}

.container_bar{
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px; 
    overflow: hidden;
    display:inline-block;
    margin:0px 10px 5px 5px;
    vertical-align:top;
}
#settings { margin-top: 2em; }
.progressbar {
    color: #fff;
    text-align: left;
    height: 25px;
    width: 0;
    left: 0px;
    float: left;
    background-color: #0798e3;
    background: #0798e3; 
    border-radius: 3px; 
}