body{
font: 70.5% "Trebuchet MS", sans-serif;
background-color: black;
}

#icons {
        margin: 0;
        padding: 0;
    }
    #icons li {
        margin: 2px;
        position: relative;
        padding: 4px 0;
        cursor: pointer;
        float: left;
        list-style: none;
    }
    #icons span.ui-icon {
        float: left;
        margin: 0 4px;
    }

.container_bar{
    width: 320px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display:inline-block;
    margin:0px 10px 5px 5px;
    vertical-align:top; 
}
#settings { 
    margin-top: 2em; 
}
.progressbar {
    color: #fff;
    text-align: left;
    height: 25px;
    width: 0;
    left: 0px;
    float: left;
    /*
    background-color: #18B228;
    background: #18B228; 
    */
    border-radius: 6px;
background: #069735; /* Old browsers */
background: -moz-linear-gradient(top,  #069735 0%, #2dae1e 48%, #069735 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#069735), color-stop(48%,#2dae1e), color-stop(100%,#069735)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #069735 0%,#2dae1e 48%,#069735 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #069735 0%,#2dae1e 48%,#069735 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #069735 0%,#2dae1e 48%,#069735 100%); /* IE10+ */
background: linear-gradient(to bottom,  #069735 0%,#2dae1e 48%,#069735 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#069735', endColorstr='#069735',GradientType=0 ); /* IE6-9 */
 
}

.navfooter{
 position: fixed !important;   
}
.navheader{
 position: fixed !important;   
}

.header_bar{
background: #0048ad; /* Old browsers */
background: -moz-linear-gradient(top,  #0048ad 0%, #2989d8 51%, #2486d6 51%, #0048ad 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0048ad), color-stop(51%,#2989d8), color-stop(51%,#2486d6), color-stop(100%,#0048ad)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #0048ad 0%,#2989d8 51%,#2486d6 51%,#0048ad 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #0048ad 0%,#2989d8 51%,#2486d6 51%,#0048ad 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #0048ad 0%,#2989d8 51%,#2486d6 51%,#0048ad 100%); /* IE10+ */
background: linear-gradient(to bottom,  #0048ad 0%,#2989d8 51%,#2486d6 51%,#0048ad 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0048ad', endColorstr='#0048ad',GradientType=0 ); /* IE6-9 */

font-family: Verdana, sans-serif !important;
color: #ffffff !important;
font-weight:bolder !important;
font: bold 100.5% "Trebuchet MS", sans-serif !important;
height: 48px !important;
text-shadow:0px 0px 0 rgb(190,190,190),-1px 1px 0 rgb(149,149,149),-2px 2px 0 rgb(107,107,107),-3px 3px 0 rgb(66,66,66), -4px 4px 0 rgb(25,25,25),-5px 5px 4px rgba(0,0,0,0.45),-5px 5px 1px rgba(0,0,0,0.5),0px 0px 4px rgba(0,0,0,.2) !important;
}

.result_listeners{
background: #83c783; /* Old browsers */
background: -moz-linear-gradient(top,  #83c783 0%, #52b152 40%, #008a00 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#83c783), color-stop(40%,#52b152), color-stop(100%,#008a00)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #83c783 0%,#52b152 40%,#008a00 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #83c783 0%,#52b152 40%,#008a00 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #83c783 0%,#52b152 40%,#008a00 100%); /* IE10+ */
background: linear-gradient(to bottom,  #83c783 0%,#52b152 40%,#008a00 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#83c783', endColorstr='#008a00',GradientType=0 ); /* IE6-9 */

}

.result_bwneeds{
background: #83c783; /* Old browsers */
background: -moz-linear-gradient(top,  #83c783 0%, #52b152 40%, #008a00 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#83c783), color-stop(40%,#52b152), color-stop(100%,#008a00)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #83c783 0%,#52b152 40%,#008a00 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #83c783 0%,#52b152 40%,#008a00 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #83c783 0%,#52b152 40%,#008a00 100%); /* IE10+ */
background: linear-gradient(to bottom,  #83c783 0%,#52b152 40%,#008a00 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#83c783', endColorstr='#008a00',GradientType=0 ); /* IE6-9 */
   
}

.result_bwusage{
background: #f6e661; /* Old browsers */
background: -moz-linear-gradient(top,  #f6e661 0%, #ed9017 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6e661), color-stop(100%,#ed9017)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f6e661 0%,#ed9017 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f6e661 0%,#ed9017 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f6e661 0%,#ed9017 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f6e661 0%,#ed9017 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e661', endColorstr='#ed9017',GradientType=0 ); /* IE6-9 */

    
}

.reset_button{
background: rgb(125,126,125); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */

    
}


.ui-icon-custhome {
  background: url(/css/images/icons/3_home.png) 50% 50% no-repeat !important;
  top: 0px !important;
  left: 0px !important;
  margin: 0px 0px 0px 0px !important;
  background-size: 44px 44px !important;
  border-radius:0px !important;
  -moz-border-radius:0px !important;
  -webkit-border-radius:0px !important;
  -ms-border-radius:0px !important;
  -o-border-radius:0px !important;
  width: 44px !important;
  height: 44px !important;
  border: 0px !important;
  
}

.ui-icon-custsettings {
  background: url(/css/images/icons/1_settings.png) 50% 50% no-repeat;
  background-color: transparent !important;
    top: 0px !important;
  right: 0px !important;
  margin: 0px 0px 0px 0px !important;
  background-size: 44px 44px !important;
  border-radius:0px !important;
  -moz-border-radius:0px !important;
  -webkit-border-radius:0px !important;
  -ms-border-radius:0px !important;
  -o-border-radius:0px !important;
  width: 44px !important;
  height: 44px !important;
  border: 0px !important;
}

.ui-icon-calculateit {
  background: url(/css/images/icons/calculator.png) 50% 50% no-repeat;
  background-color: transparent !important;
  background-position: left !important;
  background-size: 32px 32px !important;
  border-radius:0px !important;
  -moz-border-radius:0px !important;
  -webkit-border-radius:0px !important;
  -ms-border-radius:0px !important;
  -o-border-radius:0px !important;
  width: 100% !important;
  height: 48px !important;
  border: 0px !important;
}

.ui-icon-resetit {
  background: url(/css/images/icons/sub_black_delete.png) 50% 50% no-repeat;
  background-color: transparent !important;
  background-position: left !important;
  background-size: 32px 32px !important;
  border-radius:0px !important;
  -moz-border-radius:0px !important;
  -webkit-border-radius:0px !important;
  -ms-border-radius:0px !important;
  -o-border-radius:0px !important;
  width: 100% !important;
  height: 48px !important;
  border: 0px !important;
}

.ui-icon-listeners {
  background: url(/css/images/icons/user_group.png) 50% 50% no-repeat !important;
  background-color: #000 !important;
  background-position: top !important;
  background-size: 32px 32px !important;
  border-radius:0px !important;
  -moz-border-radius:0px !important;
  -webkit-border-radius:0px !important;
  -ms-border-radius:0px !important;
  -o-border-radius:0px !important;
  border: 0px !important;
  height: 12px !important;
  top: 0px !important;
  
  
}

.ui-icon-forecast {
  background: url(/css/images/icons/chart_pie.png) 50% 50% no-repeat !important;
  background-color: #000 !important;
  background-position: top !important;
  background-size: 32px 32px !important;
  border-radius:0px !important;
  -moz-border-radius:0px !important;
  -webkit-border-radius:0px !important;
  -ms-border-radius:0px !important;
  -o-border-radius:0px !important;
  border: 0px !important;
  height: 12px !important;
  top: 0px !important;
}

.ui-icon-bwusage {
  background: url(/css/images/icons/calendar.png) 50% 50% no-repeat !important;
  background-color: #000 !important;
  background-position: top !important;
  background-size: 32px 32px !important;
  border-radius:0px !important;
  -moz-border-radius:0px !important;
  -webkit-border-radius:0px !important;
  -ms-border-radius:0px !important;
  -o-border-radius:0px !important;
  border: 0px !important;
  height: 12px !important;
  top: 0px !important;
  
}

.ui-icon-benchmark {
  background: url(/css/images/icons/clock.png) 50% 50% no-repeat !important;
  background-color: #000 !important;
  background-position: top !important;
  background-size: 32px 32px !important;
  border-radius:0px !important;
  -moz-border-radius:0px !important;
  -webkit-border-radius:0px !important;
  -ms-border-radius:0px !important;
  -o-border-radius:0px !important;
  border: 0px !important;
  height: 12px !important;
  top: 0px !important;
}
.ui-icon-aboutapp {
  background: url(/css/images/icons/info_blue.png) 50% 50% no-repeat !important;
  background-color: #000 !important;
  background-position: top !important;
  background-size: 32px 32px !important;
  border-radius:0px !important;
  -moz-border-radius:0px !important;
  -webkit-border-radius:0px !important;
  -ms-border-radius:0px !important;
  -o-border-radius:0px !important;
  border: 0px !important;
  height: 12px !important;
  top: 0px !important;
}

.ui-icon-helpapp {
  background: url(/css/images/icons/help_blue.png) 50% 50% no-repeat !important;
  background-color: transparent !important;
  background-size: 32px 32px !important;
  border-radius:20px !important;
  -moz-border-radius:20px !important;
  -webkit-border-radius:20px !important;
  -ms-border-radius:20px !important;
  -o-border-radius:20px !important;
  border: 0px !important;
  height: 32px !important;
  width: 32px !important;
  top: 0px !important;
}

.ui-icon-returnhome {
  background: url(/css/images/icons/button_blue_repeat.png) 50% 50% no-repeat !important;
  background-color: transparent !important;
  background-size: 44px 44px !important;
  border-radius:100px !important;
  -moz-border-radius:100px !important;
  -webkit-border-radius:100px !important;
  -ms-border-radius:100px !important;
  -o-border-radius:100px !important;
  border: 0px !important;
  border-spacing: 0px !important;
  height: 44px !important;
  width: 44px !important;
  top: 0px !important;
  right: 0px !important;
  margin: 0px 0px 0px 0px !important;
}
.footer_bar_bot{
    vertical-align:text-bottom !important;
}