            <div class="navfooter footer_bar_bot" data-theme="b " data-role="footer" data-id="footernav" data-position="fixed">
                <div data-role="navbar" class="footer_bar_bot" data-iconpos="top">
                    <ul>
                        <li><a class="icon-listeners ui-nodisc-icon" data-icon="listeners" href="#calulcate_listeners" data-transition="slidedown">Listeners</a></li>
                        <li><a class="icon-forecast ui-nodisc-icon" data-icon="forecast" href="#calculate_bwneeds" data-transition="slidedown">Forecast</a></li>
                       <li><a class="icon-bwusage ui-nodisc-icon" data-icon="bwusage" href="#calculate_bwusage" data-transition="slidedown">Usage</a></li>
                       <li><a class="icon-benchmark ui-nodisc-icon" data-icon="benchmark" href="#benchmark" data-transition="slidedown">Test</a></li>
                       <li><a class="icon-aboutapp ui-nodisc-icon" data-icon="aboutapp" href="#About" data-transition="slidedown">About</a></li>
                    </ul>
                </div><!-- /navbar -->
            </div><!-- /footer -->