            <div class="navfooter" data-theme="b" data-role="footer" data-id="footernav" data-position="fixed">
                <div data-role="navbar" data-theme="b">
                    <ul>
                        <li><a data-icon="user" href="#calulcate_listeners" data-transition="flip">Listeners</a></li>
                        <li><a data-icon="cloud" href="#calculate_bwneeds" data-transition="flip">Forecast</a></li>
                       <li><a data-icon="calendar" href="#calculate_bwusage" data-transition="flip">Usage</a></li>
                       <li><a data-icon="clock" href="#benchmark" data-transition="flip">Benchmark</a></li>
                       <li><a data-icon="info" href="#About" data-transition="flip">About</a></li>
                    </ul>
                </div><!-- /navbar -->
            </div><!-- /footer -->